@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Qwigley:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');

html {
  background-color: #FBFBFB;
  overflow-x: hidden !important
}

.pageTitle {
    font-family: 'Sunflower';
    font-size: '34px';
    font-weight: '700';
    font-style: 'normal';
    margin: '1.3em';
}

figcaption {
    color: #0000008a;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
